[submodule "nuttx"]
	path = nuttx
	url = https://github.com/projectara/nuttx.git
[submodule "manifesto"]
	path = manifesto
	url = https://github.com/projectara/manifesto.git
[submodule "bootrom-tools"]
	path = bootrom-tools
	url = https://github.com/projectara/bootrom-tools.git
[submodule "bootrom"]
	path = bootrom
	url = https://github.com/projectara/bootrom.git
