<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="$package">
    <application android:hasCode="false">
        <meta-data android:name="ara.msp.manifest" android:resource="@xml/ara_msp_manifest" />
    </application>
</manifest>
